@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

:root {
    --cor1: hsl(75, 94%, 57%);
    --cor2: hsl(0, 0%, 100%);
    --cor3: hsl(0, 0%, 20%);
    --cor4: hsl(0, 0%, 12%);
    --cor5: hsl(0, 0%, 8%);
}

body {
    background-color: var(--cor5);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    background-color: var(--cor4);
    height: 565px;
    width: 325px;
    border-radius: 16px;
    text-align: center;
}

.profile {
    margin: 24px;
}

.profile img {
    border-radius: 50%;
    margin: 16px;
    height:  80px;
    width: 80px;
}

.profile h1 {
    color: var(--cor2);
    margin: 12px;
    font-weight: 600;
    font-size: 1.4rem;
}

.profile h2 {
    color: var(--cor1);
    margin: 12px;
    font-weight: 600;
    font-size: .8rem;
}

p {
    font-size: .9rem;
    color: var(--cor2);
    font-weight: 300;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
}

ul {
    list-style-type: none;
}

li {
    width: 280px;
    font-size: .8rem;
    background-color: var(--cor3);
    border-radius: 8px;
    padding: 12px;
    margin: 16px;
    color: var(--cor2);
    font-weight: 600;
}

li:hover {
    background-color: var(--cor1);
    color: var(--cor5);
}

li a {
    color: var(--cor2);
    text-decoration: none;
    font-weight: 600;
}

footer {
    padding-top: 10px;
    padding-bottom: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.attribution > p {
    font-size: 0.5rem;
}

.attribution a:hover {
    color: var(--cor2);
}

@media screen and (min-width: 800px) {
    main {
        height: 580px;
        width: 340px;
    }
}

@media screen and (min-width: 1200px) {
    main {
        height: 620px;
        width: 400px;
    }

    .profile img {
        height: 100px;
        width: 100px;
    }

    .profile h1 {
        font-size: 1.6rem;
    }

    .profile h2 {
        font-size: 0.9rem;
    }

    li {
        padding: 14px;
        width: 315px;
    }
}